{{#if being_served}}
    <li class="cust_in">
        <span><strong>{{customer}}</strong> is being served by <strong>{{emp_name}}</strong></span>
        <button class='complete btn btn-primary'>✓</button>
    </li>
{{/if}}	
