body{
  background-image: url('../images/01.jpg');
  color: rgb(58, 58, 58);
}
.emp_col {
  height: 100px;
  padding: 5px;
  margin: 5px;
  background: #e7e7e79a;
  border-radius: 8px;
}
ul {
  list-style-type: none;
}
.cust_log_block{
  border-radius: 8px;
  background: #e7e7e79a;
  margin-top: 30px;
  padding: 20px 20px 20px 20px;
}

hr{
  margin-top:0;
}
.label_top {
  font-family: 'Indie+Flower';
  font-size: 2.5em;
  color: white;
}
.label_top_1 {
  font-family: 'Indie+Flower';
  font-size: 1.5em;
  color: rgb(58, 58, 58);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.cust_in{
  margin-top: 5px;
}

.form-group {
  margin-bottom: 5px;
}
.emp_photo {
  height:80px;
  margin:5px;
  float: left
}
.complete, .delete{
  height: 1.5em;
  margin: 0;
  padding-top:0;
  font-size: 1.3em;
}

p {
  margin:0;
}
.busy_status {
  color:rgb(112, 2, 2);
}
.idle_status {
  color: green;
}
/* .emp_list{
  width:100%;
}
.dashboard {
  width:100%;
} */